.banner {
    background: url("https://images.unsplash.com/photo-1576867757603-05b134ebc379?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80") center center;
    height: 50vh;
    position: relative;
    max-width:100%
  }
  
  .banner__info {
      background-color: black;
      color: white;
      padding-top: 25vh;
      padding-left: 50px;
      padding-right: 50px;
      padding-bottom: 40px;
      width: 300px;
  }
  
  .banner__search {
      display: flex;
      flex-direction: column;
  }
  
  .banner__searchButton {
    background-color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    color: #f2a20e !important;
  }
  
  .banner__info > button {
      background-color: #f2a20e;
      color: white;
      text-transform: inherit;
      margin-top: 20px;
      font-weight: 600;
  }
  
  .banner__info > button:hover {
      background-color: white;
      color: #f2a20e;
    }
    
  
  .banner__info > h5 {
      margin-top: 10px;
  }