.image-size{
    height: 150px;
    width: 150px;
    padding: 10px;
}

.Host__Details{
    padding-left: 70px;
}

.Host__PhotoUpload{
    padding-left: 70px;
    padding-top: 10px;
}

.Host__Profile{
    padding-top:20px;
}

.your__experiences{
    padding-left: 70px;
    padding-top: 10px;
}

.list__NewExperience{
    padding-left: 70px;
    padding-top: 10px;
}

.createNewExperienceButton{
    padding-left: 70px;
    padding-bottom: 30px;

}