.host-image-size
{
    height: 150px;
    width: 150px;
    padding: 10px;
}

.Host__Details{
    padding-left: 70px;
  

}

.Host__PhotoUpload{
    padding-left: 70px;
    padding-top: 10px;
}

.your__experiences{
    padding-left: 70px;
    padding-top: 10px;
}

.list__NewExperience{
    padding-left: 70px;
    padding-top: 10px;
}