.Experience__PhotoUpload{
    padding-left:70px;
    padding-bottom: 40px;
}

.Form__Input{
    padding-left:70px;
}

.your__Experience{
    padding-top: 20px;
    padding-left:70px;   
}

.Publish_Experience {
    text-align: right;
    padding-right: 70px;
}
